.header{
	background-color:cornflowerblue;	
	height:55px;
	border-radius: 5%;
	color: black;
}
.header2{
	font-size: 1;
	
}
.header_middle{background-color: cornsilk;
height: 50px;
width: 100%;
	
}
.header_left{
	font-size: 30px;
	letter-spacing: 6px;
	float: left;
	line-height: 50px;
	margin-left: 10px;
}
.header_right{
	float: right;
	margin-right: 20px;
	color:black;
}
.header_right ul li {
	font-size: 10px;
	float: left;
	list-style: none;
	line-height: 50px;
	margin-right: 30px;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}
a:visited{
	color: white;
}
a:hover{
	color: blue;
}
a:active{
	color: yellow;
}
.body_left{
	font-size: ;
}
.lastheader{
	
}
.mainheader{
	
}
.title{
	
}
.content_left{
	background-image: inherit;
	float: left;
	width: 20%;
	height: 1000px;
	
}
.content_right{
	
}
.main_content{
	
}
.footer{
	
}